
.header .logo {
    margin-right: auto;
    margin-left: 0;
    background-color: #ec060660;
    padding: 1em 2em;
    border-radius: 3em;
    color: #fcfcfc;
}

.header .nav-links {
    display: flex;
    place-items: center;
}

.nav-links li {
    list-style: none;
    margin-inline: .75em;
    font-size: 1.25em;
    border-radius: 1em;
    padding: .5em 1em;
    transition: .25s all;
}

.active-link {
    background-color: #79797977;
}

.nav-links li:hover {
    border-radius: 1em;
    padding: .5em 1em;
    cursor: pointer;
    background-color: #79797938;
}