:root {
  font-family: Roboto, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
* {
  box-sizing: border-box;
}

.App {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1em;
}

.header {
  display: flex;
  border-radius: 2.5em;
  color: rgba(255, 255, 255, 0.87);
  grid-column: 1 / -1;
}

.side-bar {
  background-color: #408ff071;
  grid-column: 1 / 2;
  border-radius: 3em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1em;
  padding: 1em;
  color: rgba(255, 255, 255, 0.87);
  height: fit-content;
}

.side-bar a {
  font-size: 1.25em;
  background-color: #242424;
  border-radius: 3em;
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 1em;
  /* transition: 0.5s all; */
}

.side-bar a:hover {
  cursor: pointer;
  outline: 2px solid #74ffb38e;
}

.side-bar a:hover .icon {
transform: scale(1.2);

}

 .icon {
  font-size: 2em;
  color: #797979d3;
  transition: .5s transform;
}

.icon-active {
  transform: rotate(90deg);
  color: #242424;
}

a.active {
  background-color: #04ff7578;
  color: #242424;
  /* outline: 2px solid #242424; */

}

.main {
  background-color: #408ff071;
  grid-column: 2 / -1;
  /* height: 75vh; */
  padding: 2em;
  border-radius: 3em;
  text-align: left;
}

.main .main-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1em;
}

.main-top h1 {
  padding: 0;
  margin: 0;
}

.main table {
  width: 100%;
  table-layout: auto;
  border-spacing: 0;
  border: 2px solid #242424;
  border-radius: 2em;
  /* border-bottom-left-radius: 1em;
  border-bottom-right-radius: 1em; */
}

.main table thead tr {
  font-weight: bold;
  font-size: 1.5em;
  background-color: #242424;
  color: white;
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
}

.main table thead tr td {
  padding: 0.5em;
}

.main table thead tr td:first-child {
  border-top-left-radius: 1em;
}

.main table thead tr td:last-child {
  border-top-right-radius: 1em;
}

.main table tbody tr td {
  /* border-top: 2px solid #1a1a1a; */
  border-right: 2px solid #585858b5;
  padding: 0.5em;
  /* color: #242424; */
}

.main table tbody tr:nth-child(even) {
  background-color: #ffffff49;
}

.main table tbody tr td:last-child {
  border-right: 0;
}

.main table tbody tr:last-child td:last-child {
  /* border-right: 0; */
  border-bottom-right-radius: 1.75em;
}

.main table tbody tr:last-child td:first-child {
  /* border-right: 0; */
  border-bottom-left-radius: 1.75em;
}

tr {
  font-size: 1.2em;
  /* border-bottom: 2px solid; */
}

.footer {
  border-radius: 2.5em;
  color: #242424;
  /* height: 30vh; */
  background-color: #fdff748e;
  grid-column: 1 / -1;
}

button {
  border-radius: 2em;
  border: 1px solid transparent;
  padding: 0.6em 1em;
  font-size: 1.25em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  display: flex;
  align-items: center;
}

button:hover {
  outline: 2px solid #ec0606bf;
  filter: 0 0 2em #0671ec;
}


.main-icon {
  font-size: 1.2em;
  margin-right: 0.5em;
}

@media screen and (max-width: 820px)  {
  .App {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
  }

  .nav-links li {
    display: none;
  }

  .side-bar {
    grid-column: 1 / 2;
  }

  .side-bar a {
    gap: .5em;
    align-items: center;
    justify-content: center;
  }

  .side-bar a span {
    display: none;
  }

  .main {
    grid-column: 2 / -1;
  }
}

@media screen and (max-width: 720px)  {
  .App {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
  }

  .side-bar {
    grid-column: 1 / -1;
    flex-direction: row;
    justify-content: space-between;
  }

  .side-bar a {
    gap: 0;
    align-items: center;
    justify-content: center;
  }

  .side-bar a span {
    display: none;
  }

  .side-bar .icon {
    font-size: 1.75em;
    transition: 0.5s transform;
  }

  .main {
    grid-column: 1 / -1;
  }
}


